AuthUserFile /.htpasswd
AuthName "Problem Submission Site"
AuthType Digest
Options -Indexes

<Files "master.php">
	Require valid-user
</Files>

<Files "probs.back.txt">
	Require valid-user
</Files>

<Files "probs.old.back.txt">
	Require valid-user
</Files>

<Files "probs.old.txt">
	Require valid-user
</Files>

<Files "probs.young.back.txt">
	Require valid-user
</Files>

<Files "probs.young.txt">
	Require valid-user
</Files>

