body {
	font: 12pt "Courier New";
	width: 750px;
}

textarea {
	font: 12pt "Courier New";
}

p {
	
}

p.dark {
	border: thin dashed black;
	padding: 5px;
	background: #E6E6FA;
}

p.light {
	border: thin dashed black;
	padding: 5px;
	background: #FFFAFA;
}
