body {
	font: 12pt "Courier New";
	padding: 0px;
	text-align: center;
}

#centre {
	width: 823px;
	margin: 0px auto;
	text-align: left;
}

textarea {
	font: 12pt "Courier New";
}

p.prob {
	border: thin dashed black;
	padding: 5px;
	background: #F0F8FF;
}

p.even {
	border: thin dashed black;
	padding: 5px;
	background: #F0FFF0; // honeydew
}

p.odd {
	border: thin dashed black;
	padding: 5px;
	background: #F0F8FF; // alice blue
}
